<div class="footer">
    <a href="https://www.randomflea.dev" id="randomflea-container">
        <div class="link" id="randomflea">Random<br>
            Flea</div>
    </a>
    <a href="https://github.com/randomflea" id="portfolio-container">
        <div class="link" id="portfolio">Portfolio</div>
    </a>
    <a href="https://arcade.randomflea.dev" id="arcade-container">
        <div class="link" id="arcade">Arcade</div>
    </a>
    <a href="https://tlg.randomflea.dev" id="tlg-container">
        <div class="link" id="tlg">The Lost<br>Glitches</div>
    </a>
</div>